[submodule "roles/postgresql"]
	path = roles/postgresql
	url = https://github.com/DrTom/ansible-role-postgresql.git
[submodule "roles/apache-httpd"]
	path = roles/apache-httpd
	url = https://github.com/DrTom/ansible-role-apache-httpd.git
