################################################################################
### global settings ############################################################
################################################################################

madek_support_email: "support.medienarchiv@zhdk.ch"



###############################################################################
### reverse proxy #############################################################
###############################################################################

reverse_proxy_use_x_forwarded_for: true


madek_virtual_hosts:
- hostname: "{{madek_external_hostname}}"
  ip: "*"
  ssl_certificate_file: '/etc/ssl/localcerts/{{ansible_host}}.crt'
  ssl_certificate_key_file: '/etc/ssl/localcerts/{{ansible_host}}.key'
  force_redirect_to_https: yes


reverse_proxy_custom_config: |

  ProxyPass /zhdk-agw  http://localhost:3333/zhdk-agw    nocanon retry=0
  ProxyPass /ext-auth/ms-oidc/zhdk http://localhost:3434/ext-auth/ms-oidc/zhdk  nocanon retry=1




###############################################################################
### storage settings ##########################################################
###############################################################################

madek_storage_dir: /opt/madekdata
madek_file_storage_dir: /opt/madekdata/attachments
madek_thumbnail_storage_dir: /opt/madekdata/attachments



###############################################################################
### database and db backups ###################################################
###############################################################################

db_backups_dir: "{{madek_storage_dir}}/backups"
restore_structure_and_data_file: "{{db_backups_dir}}/latest.pgbin"



###############################################################################
### transcoding settings ######################################################
###############################################################################


zencoder_api_key: "{{zhdk_zencoder_api_key}}"
zencoder_enabled: True


zencoder_video_output_formats:
  webm:
    {
      format: "webm",
      label: "webm",
      quality: 4,
      speed: 2,
      width: 620,
      thumbnails: true,
    }
  mp4: { format: "mp4", label: "mp4", video_codec: "h264", width: 620 }
  # minimum height for HD video targets videos where the higher size would increase the available size by 25%
  # worst normal case small preview height: 620 * 3/4 = 465
  # target min_size for HD: 620x465 * 1.25 = 775x581
  webm_HD:
    {
      format: "webm",
      label: "webm",
      quality: 4,
      speed: 2,
      height: 1080,
      skip: { min_size: "775x580" },
    }
  mp4_HD:
    {
      format: "mp4",
      label: "mp4",
      video_codec: "h264",
      height: 1080,
      skip: { min_size: "775x580" },
    }

zencoder_audio_output_formats:
  vorbis: { format: "ogg", audio_codec: "vorbis", skip_video: true }
  mp3: { format: "mp3", audio_codec: "mp3", skip_video: true }



###############################################################################
### embed, html and css customization #########################################
###############################################################################


madek_webapp_embeds:
  enable_opengraph: true
  twitter_cards_site: "@zhdk"


# embed player logo (ZHdK)
madek_webapp_html_extra_head_end: |
  <style>
  {{ lookup('file', 'inventories/zhdk/files/logo-style-zhdk.css') }}
  </style>


##############################################################################
### services ##################################################################
###############################################################################

api_v2: True



###############################################################################
###  other zhdk config ########################################################
###############################################################################


# run some preparaory tasks for entra sync
# we can remove this entirely after medeinarchiv.zhdk.ch is fully migrated to entra
zhdk_prepare_entra_sync: true



# there is one reference of this in the webapp (apart from the now retiered awg engine)
zhdk_integration: True # turns on AGW support + custom ldap groups handling

madek_entra_tenant_sync_name: "zhdk"

madek_support_email: "support.medienarchiv@zhdk.ch"

zhdk_agw_api_id: madektest
zhdk_agw_api_key: "{{zhdk_agw_api_test_key}}"
zhdk_agw_api_url: "https://intern.zhdk.ch/?auth/{{zhdk_agw_api_test_app}}"

agw_auth_public_key: |
  -----BEGIN PUBLIC KEY-----
  MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEJCGE8RbZhtTj+93HMSkSKMbWv4/X
  +87MRVYtJMoYSa3F9HONSSCkSbCNcpz4QBqLLcd4KCJGUFHCRowp4Trw0Q==
  -----END PUBLIC KEY-----

agw_auth_madek_public_key: |
  -----BEGIN PUBLIC KEY-----
  MFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEfv30vIA7yLtLDf2ISVCohxmh1Tby
  4cPaxmCiXbFes2IqlYDDVk0hdk8q8/OFKKKfWGd90c7V6n9zJsr0Xs22ug==
  -----END PUBLIC KEY-----

madek_block_useragents:
  - AhrefsBot
  - BLEXBot
  - Bytespider
  - ClaudeBot
  - PiplBot
  - SemrushBot
  - seo4ajax
