// overrides color setting
{% if webapp.color_scheme == "green" %}
$scheme-green         : true
{% elif webapp.color_scheme == "red" %}
$scheme-red           : true
{% elif webapp.color_scheme == "blue" %}
$scheme-blue          : true
{% elif webapp.color_scheme == "mono" %}
$scheme-mono          : true
{% endif %}

{% if webapp.custom_color is defined and webapp.custom_color %}
$custom-color         : {{webapp.custom_color}}
{% endif %}
