- name: create admin user via rails runner
  become: true
  become_user: "{{madek_user}}"
  shell: |
    #!/usr/bin/env bash
    set -euo pipefail
    source ~/.asdf/asdf.sh
    cd {{madek_webapp_dir}}
    export RAILS_ENV={{rails_env}}
    export SECRET_KEY_BASE_DUMMY=1
    bundle exec rails runner - <<'RUBY'
      admin_person = Person.find_or_create_by pseudonym: 'Admin', subtype: 'Person'

      admin_user = User.find_or_initialize_by login: '{{admin_login}}'

      admin_user.update! \
        password: '{{admin_password}}',
        email: 'admin@nowhere',
        person: admin_person,
        password_sign_in_enabled: true

      Admin.find_or_create_by user_id: admin_user.id
    RUBY
  args:
    executable: /bin/bash
