- name: create admin user via rails runner
  shell: |
    cd {{madek_dir}}/webapp && bundle exec rails runner - <<'RUBY'
      admin_person = Person.find_or_create_by pseudonym: 'Admin', subtype: 'Person'

      admin_user = User.find_or_initialize_by login: '{{admin_login}}'

      admin_user.update! \
        password: '{{admin_password}}',
        email: 'admin@nowhere',
        person: admin_person,
        password_sign_in_enabled: true

      Admin.find_or_create_by user_id: admin_user.id
    RUBY
  environment:
    RAILS_ENV: "{{madek_env}}"

