- import_tasks: install.yml

- name: clean if enabled
  import_tasks: clean_slate.yml
  when: reverse_proxy_clean_slate

- name: log permissions
  import_tasks: log_permissions.yml

- file:
    path: /etc/apache2/madek/conf.d
    state: directory
    mode: 0755
