[Unit]
Description=Madek Sitemap Refresh Cron Timer

[Timer]
OnCalendar={{madek_run_sitemap_refresh_on}}
RandomizedDelaySec={{madek_run_tasks_randomized_delay_max_seconds}}
Persistent=true

[Install]
WantedBy=timers.target
