core:
  group-create-defaults: 
    type: 'InstitutionalGroup'
  group-filter-name-blacklist-regexes:
    - 'App_.*'
    - 'Webadmin'
  group-filter-name-whitelist-regex: .*
  group-filter-institutional-id-blacklist-regexes:
    - '^\\\\filer\\.*$'
  group-filter-institutional-id-whitelist-regex: '^.*'
  group-update-defaults:
    type: 'InstitutionalGroup'
  group-all-users-group:
    institutional_id: 'all-users-synced-from-zhdk-ch'
    institution: 'zhdk.ch'
    name: 'ZHdK (Zürcher Hochschule der Künste)'
    type: 'InstitutionalGroup'
  institution: zhdk.ch
  source: ms
  user-create-defaults:
    active_until: '2050-01-01T00:00:00Z'
    password_sign_in_enabled: false
  user-update-defaults:
    active_until: '2050-01-01T00:00:00Z'
  user-disable-properties:
    active_until: '1970-01-01T00:00:00Z'
    email: NULL
    password_sign_in_enabled: false
  groups-keep-orphans: true

madek:
  base-url: http://localhost:8886
  token: '{{entra_sync_api_token}}'

ms:
  base-groups: []
  client-id: '{{entra_sync_client_id}}' 
  client-secret: '{{entra_sync_client_secret}}'
  group-attributes-custom-mapping:
    institutional_id: {fn: '#(some-> % :extension_143cc78a116f4a148c2f5d50ce969b53_extensionAttribute3 str)'}
    name: 
      fn: |
        (fn [group]
          (let [attribute1 (some-> group :extension_143cc78a116f4a148c2f5d50ce969b53_extensionAttribute1 str)
                displayName (some-> group :displayName str)]
            (or attribute1 displayName)))
    institutional_name: {fn: '#(some-> % :onPremisesSamAccountName str)'}
  group-request-additional-properties:
    - extension_143cc78a116f4a148c2f5d50ce969b53_extensionAttribute1
    - extension_143cc78a116f4a148c2f5d50ce969b53_extensionAttribute3
    - onPremisesSamAccountName
  user-attributes-custom-mapping:
    institutional_id: {fn: '#(some-> % :onPremisesExtensionAttributes :extensionAttribute12 str)'}
    login:
       fn: |
        (fn [user]
          (require '[madek.sync.utils.base32-crockford :as base32 refer [encode-num]])
          (let [sam (some-> user :onPremisesSamAccountName str)
                evento-id (some-> user :onPremisesExtensionAttributes :extensionAttribute12 str)]
            (if-let [num (some-> evento-id (Integer/parseInt) (rem (Math/pow 32 3)) (int))]
              (str sam "_"  (madek.sync.utils.base32-crockford/encode-num num))
              (str sam))))
  users-raw-filter:
    fn: |
      (fn [u]
              (let [ext-attr1 (get-in u [:onPremisesExtensionAttributes :extensionAttribute1])]
              (not (contains? #{"diverse" "deaktiviert" "externe" nil} ext-attr1))))
      
  user-request-additional-properties:
    - onPremisesExtensionAttributes
    - onPremisesSamAccountName
  tenant-id: eff1ebf7-73e5-4e3d-befd-52d69e759214


repl:
  enabled: false
  bind: localhost
  port-file: .nrepl-port
