body[data-embedded-view][data-referer-host="madek.github.io"] {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif !important;
  color: #852171 !important;
  background: #90fae7 !important;
  font-size: 1.5rem;
}
body[data-embedded-view][data-referer-host="madek.github.io"]
  .videojs.vjs-default-skin
  .vjs-titlebar {
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif !important;
  letter-spacing: 0.1rem;
  background: #852171 !important;
  color: #90fae7 !important;
}
body[data-embedded-view][data-referer-host="madek.github.io"]
  .videojs.vjs-default-skin
  .vjs-titlebar
  .vjs-titlebar-logo {
  display: none;
}
body[data-embedded-view][data-referer-host="madek.github.io"]
  .videojs.vjs-default-skin
  .vjs-big-play-button {
  background: #852171 !important;
  color: #90fae7 !important;
  border-color: #90fae7 !important;
}
body[data-embedded-view][data-referer-host="madek.github.io"]
  .videojs.vjs-default-skin
  .vjs-control-bar,
body[data-embedded-view][data-referer-host="madek.github.io"]
  .video-js.vjs-default-skin
  .vjs-menu-button
  .vjs-menu-content {
  background: #852171 !important;
  color: #90fae7 !important;
  border-color: #90fae7 !important;
}
