[Unit]
Description=Madek {{service.desc}} Cron Service Timer

[Timer]
OnCalendar={{service.schedule}}
RandomizedDelaySec={{service.randomized_delay_sec}}
Persistent=true

[Install]
WantedBy=timers.target
