[Unit]
Description=Madek {{service.desc}} Cron Service
After=syslog.target
BindsTo=postgresql.service

[Service]
SyslogIdentifier=madek-{{service.name}}-cron
Type=oneshot
WorkingDirectory={{service_dir}}
User={{madek_user}}
Group={{madek_user}}
Environment=PATH={{ruby_dir}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
ExecStart={{ruby_dir}}/bin/ruby -S bundle exec rake madek:{{service.name}}

# vi: ft=sh
