[Unit]
Description=Madek {{service.name}} Service
After=syslog.target
After=network.target

BindsTo=postgresql.service


[Service]
WorkingDirectory={{service_dir}}
User={{madek_user}}
Group={{madek_user}}
Environment=TMPDIR={{madek_tmp_dir}}
Environment=CLASSPATH={{service_dir}}/config:{{service_dir}}/{{service.name}}.jar
ExecStart=/usr/lib/jvm/java-{% if ansible_distribution_release == "buster" %}11{% else %}8{% endif %}-openjdk-amd64/bin/java "-Xmx{{ service.xmx_mb | default(200) }}m" {{service.main}}

[Install]
WantedBy=multi-user.target
