[Unit]
Description=Madek {{service.name}} Service
After=syslog.target
After=network.target

BindsTo=postgresql.service

[Service]
SyslogIdentifier=madek-mail
WorkingDirectory={{service_dir}}
User={{madek_user}}
Group={{madek_user}}

LimitNOFILE=64000
Restart=always
RestartSec=5

Environment=TMPDIR={{madek_tmp_dir}}
Environment=CLASSPATH={{service_dir}}/config:{{service_dir}}/{{service.name}}.jar

Environment=PGDATABASE={{database.name}}
Environment=PGUSER={{database.user}}
Environment=PGPASSWORD={{database.password}}
Environment=PGPORT=5415

ExecStart=/usr/bin/env java "-Xmx{{ service.xmx_mb | default(200) }}m" {{service.main}} run

[Install]
WantedBy=multi-user.target
