[Unit]
Description=Madek {{service.name}} Service
After=syslog.target
After=network.target

BindsTo=postgresql.service

[Service]
SyslogIdentifier=madek-{{service.name}}
WorkingDirectory={{service_dir}}
User={{madek_user}}
Group={{madek_user}}
TimeoutStopSec=5
Environment=TMPDIR={{madek_tmp_dir}}
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=RAILS_TIME_ZONE={{rails_timezone}}
Environment=RAILS_RELATIVE_URL_ROOT={{service.context}}
Environment=PATH={{ruby_dir}}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin

{% if service.puma_config|default(false) %}
Environment=MADEK_MAX_WORKERS={{service.max_workers}}
Environment=MADEK_MAX_THREADS={{service.max_threads_per_worker}}
ExecStart={{ruby_dir}}/bin/bundle exec puma \
    -C {{service.puma_config}} \
    -b 'tcp://localhost:{{service.http_port}}' \
    config.ru
{% else %}
ExecStart={{ruby_dir}}/bin/bundle exec puma \
   -e production -t '1:{{service.max_threads_per_worker}}' \
   -b 'tcp://localhost:{{service.http_port}}' \
   config.ru
{% endif %}

[Install]
WantedBy=multi-user.target
