[Unit]
Description=Madek {{service.name}} Service
After=syslog.target
After=network.target

BindsTo=postgresql.service

[Service]
SyslogIdentifier=madek-{{service.name}}
WorkingDirectory={{service_dir}}
User={{madek_user}}
Group={{madek_user}}
Environment=TMPDIR={{madek_tmp_dir}}
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=RAILS_TIME_ZONE={{rails_timezone}}
Environment=RAILS_RELATIVE_URL_ROOT={{service.context}}
ExecStart=/usr/local/bin/chruby-exec 'ruby-{{service.ruby_version}}' -- bundle exec puma -e production -t '1:{{service.max_threads_per_worker}}' -b 'tcp://localhost:{{service.http_port}}' config.ru

[Install]
WantedBy=multi-user.target
