body:before {
  display: block;
  padding: 4em;
  color: papayawhip;
  background: tomato;
  font: bolder 3em monospace;
  text-align: center;
  content: "WARNING! THIS IS A TEST SERVER! See medienarchiv.zhdk.ch";
}
